<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ontoumlprime -->
      <package
            uri="http://nemo.inf.ufes.br/ontouml/ontoumlprime"
            class="br.ufes.inf.nemo.ontouml.PrimeOntoUML.PrimeOntoUMLPackage"
            genModel="model/ontoumlprime.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ontoumlmenthor -->
      <package
            uri="http://menthor.net/"
            class="net.menthor.metamodel.ontouml.OntoumlPackage"
            genModel="model/ontoumlmenthor.xcore"/>
   </extension>


<extension  point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="model/Generalization.view"/>
</extension>
</plugin>
