/Attribute.java
/Class.java
/Classifier.java
/Comment.java
/ContainedElement.java
/Container.java
/Dimension.java
/Domain.java
/Element.java
/EndPoint.java
/GeneralizationSet.java
/Literal.java
/Model.java
/NamedElement.java
/OntoumlFactory.java
/OntoumlPackage.java
/Package.java
/Primitive.java
/Property.java
/Quality.java
/Region.java
/Relation.java
/Relationship.java
/Scale.java
/Structure.java
/Temporal.java
/Type.java
/Universal.java
