/AttributeImpl.java
/ClassImpl.java
/ClassifierImpl.java
/CommentImpl.java
/ContainedElementImpl.java
/ContainerImpl.java
/DimensionImpl.java
/DomainImpl.java
/ElementImpl.java
/EndPointImpl.java
/GeneralizationSetImpl.java
/LiteralImpl.java
/ModelImpl.java
/NamedElementImpl.java
/OntoumlFactoryImpl.java
/OntoumlPackageImpl.java
/PackageImpl.java
/PropertyImpl.java
/RegionImpl.java
/RelationshipImpl.java
/StructureImpl.java
/TypeImpl.java
